@font-face {
  font-family: "iconfont"; /* Project id 3171555 */
  src: url('iconfont.eot?t=1644290735986'); /* IE9 */
  src: url('iconfont.eot?t=1644290735986#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1644290735986') format('woff2'),
       url('iconfont.woff?t=1644290735986') format('woff'),
       url('iconfont.ttf?t=1644290735986') format('truetype'),
       url('iconfont.svg?t=1644290735986#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-vue:before {
  content: "\e799";
}

.icon-menu:before {
  content: "\e619";
}

.icon-promotion:before {
  content: "\e65e";
}

